<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323386686160-5camjvr83dcc7m4k4d07l36e4fhru4lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323386686160-5camjvr83dcc7m4k4d07l36e4fhru4lc</string>
	<key>API_KEY</key>
	<string>AIzaSyA2aJ_UjnhCXVxjmWbtSFUEtJTk22SjZkM</string>
	<key>GCM_SENDER_ID</key>
	<string>323386686160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQuizAssigment</string>
	<key>PROJECT_ID</key>
	<string>quizapp-97f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-97f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323386686160:ios:da31b8c98840f8412a3cd5</string>
</dict>
</plist>